{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <h1>
        About Us
    </h1>
    <div class="about">
        <h3>
            What is Questom?
        </h3>
        <h5>
            <p>
                Questom is a project meant to ease student's lives while they learn to navigate their health on their own.
                It allows students to post questions regarding symptoms they might be having.
                Then, professionals are able to quickly respond to those questions with short suggestions.
            </p>

        </h5>
        <h3>
            Our Vision:
        </h3>
        <h5>
            Questom strives to better the people’s health nationwide by making professional feedback quick and accessible to
            anyone.
        </h5>
        <h3>
            Our Mission:
        </h3>
        <h5>
            Questom’s computer scientist enhancement on the performance and convenience of Questom.
        </h5>
    </div>

{% endblock %}